################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Arithmetica/v16
/ArithConsole/bin/Debug/netcoreapp2.2
/ArithConsole/obj
